node_modules/
dist/
build/
.cache/
*.auto.*
*.blend1
.vscode/

img/*.png
img/*.glb

server/
.eslintrc.json
.gitignore
.gitattributes
COPYING
docker-compose.yml
Dockerfile
README.md
