#full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#selection {
    position: absolute;
    /* top: 100px;
    left: 100px;
    width: 200px;
    height: 200px; */
    z-index: 1;
    border: 1px solid rgba(160, 85, 0, 0.8);
    background-color: rgba(160, 85, 0, 0.2);
    pointer-events: none;
    visibility: hidden;
}

.cursor {
    position: absolute;
    background: url(../img/hand.svg);
    background-size: 100%;
    width: 50px;
    height: 35px;
    z-index: 2;
    /* border: 1px solid red; */

    margin-left: -20px;
    margin-top: -5px;
    transform-origin: 20px 5px;
    pointer-events: none;
    opacity: 0.6;

    visibility: hidden;
}

.cursor.rotate-1 { transform: rotate(-90deg); }
.cursor.rotate-2 { transform: rotate(-180deg); }
.cursor.rotate-3 { transform: rotate(-270deg); }

/*
.cursor          { visibility: visible; top: 50%; left: 20%; }
.cursor.rotate-1 { visibility: visible; top: 50%; left: 40%; }
.cursor.rotate-2 { visibility: visible; top: 80%; left: 20%; }
.cursor.rotate-3 { visibility: visible; top: 80%; left: 40%; }
*/

.mark {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 10px;
    height: 10px;
    background: white;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    max-height: 100%;
    padding: 1em;
    background: rgba(30,30,30, 0.6);
    user-select: none;
}

.dropdown-menu {
    background: rgba(30,30,30, 0.8) !important;
}

#server:not(.connected) .server-connected { display: none; }
#server.connected .server-disconnected { display: none; }

#center { display: none; }

#deal { position: relative; }
.btn-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    transition: width 1s;
}
.btn-progress-text {
    position: relative;
}

#deal .btn-progress {
    background: #fff2ca;
}

.kick .btn-progress {
    background: rgb(90, 98, 104);
}

.seat-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.4);
    display: none;
}
.seat-button {
    position: absolute;
}
.seat-button-0 {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.seat-button-1 {
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
}
.seat-button-2 {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.seat-button-3 {
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
}

/* https://fontlibrary.org/en/font/segment7 */
@font-face {
    font-family: 'Segment7Standard';
        src: url('../img/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.dark-select {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #fff !important;
}
.dark-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

/* Override system setting */
.collapsing {
	transition:height 0.2s ease !important;
}
