#full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#selection {
    position: absolute;
    /* top: 100px;
    left: 100px;
    width: 200px;
    height: 200px; */
    z-index: 1;
    border: 1px solid rgba(160, 85, 0, 0.8);
    background-color: rgba(160, 85, 0, 0.2);
    pointer-events: none;
    visibility: hidden;
}

.cursor {
    position: absolute;
    background: url(../img/hand.svg);
    background-size: 100%;
    width: 50px;
    height: 35px;
    z-index: 2;
    /* border: 1px solid red; */

    margin-left: -20px;
    margin-top: -5px;
    transform-origin: 20px 5px;
    pointer-events: none;
    opacity: 0.6;

    visibility: hidden;
}

.cursor.rotate-1 { transform: rotate(-90deg); }
.cursor.rotate-2 { transform: rotate(-180deg); }
.cursor.rotate-3 { transform: rotate(-270deg); }

/*
.cursor          { visibility: visible; top: 50%; left: 20%; }
.cursor.rotate-1 { visibility: visible; top: 50%; left: 40%; }
.cursor.rotate-2 { visibility: visible; top: 80%; left: 20%; }
.cursor.rotate-3 { visibility: visible; top: 80%; left: 40%; }
*/
@font-face {
    font-family: 'Koruri';
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot?#iefix') format('embedded-opentype');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff') format('woff'),
         url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.ttf') format('truetype');

    /*  for fuck'n chrome  */
    src: url(//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff) format('woff');
}

.mark {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 10px;
    height: 10px;
    background: white;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(30,30,30, 0.6);
    user-select: none;
}

#sidebar-body {
    min-width: 220px;
}

#toggle-sidebar {
    cursor: pointer;
}

#toggle-sidebar:hover {
    color: grey !important;
}

.dropdown-menu {
    background: rgba(30,30,30, 0.8) !important;
}

#server:not(.connected) .server-connected { display: none; }
#server.connected .server-disconnected { display: none; }

#center { display: none; }
#name-plate-0 { display: none; }
#name-plate-1 { display: none; }
#name-plate-2 { display: none; }
#name-plate-3 { display: none; }

#deal { position: relative; }
.btn-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background: #fff2ca;
    transition: width 600ms;
}
.btn-progress-text {
    position: relative;
}

#spectator-ui {
    font-family: 'Koruri';
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 3vmin 4vmin;
}

.player-display {
    display: flex;
    text-align: right;
    padding: 0 7vmin;
    align-items: flex-end;
}

.player-display > div:not(:first-child) {
    margin-left: 2vmin;
}

.point-display {
    font-size: 3vmin;
    padding: 0vmin 1.5vmin;
}

.point-display > .points {
    flex: 1;
}

.player-display .dealer-indicator {
    padding-top: 1vmin;
}

.player-display .dealer .dealer-indicator {
    padding-top: 0.5vmin;
    border-bottom: 0.5vmin solid #be2011;
}

.name-display {
    font-size: 2.5vmin;
    padding-right: 1vmin;
}

.name-display.gain, .name-display.loss{
    font-size: 3vmin;
    padding-right: 1.5vmin;
    color: #33d880;
}

.name-display.loss {
    color: #a6101f;
}

[data-seat="0"] > .point-display {
    background-image: linear-gradient(to right, #e98e1a, #e98e1a, #e98e1a, #261b18);
}

[data-seat="1"] > .point-display {
    background-image: linear-gradient(to right, #b7a581, #b7a581, #b7a581, #1f1f1f);
}

[data-seat="2"] > .point-display {
    background-image: linear-gradient(to right, #da89a0, #da89a0, #da89a0, #0d050c);
}

[data-seat="3"] > .point-display {
    background-image: linear-gradient(to right, #1898d8, #1898d8, #1898d8, #1a1c1f);
}

#spectator-ui > .header {
    display: flex;
    align-items: center;
    padding-right: 2.5vmin;
}

.header > .view-change-action {
    border-radius: 5px;
    background-color:rgba(200, 200, 200, 0.2);
    margin-left: 0.75vmin;
    font-size: 2vmin;
    padding: 0.75vmin;
}

.round-display {
    font-size: 3vmin;
    line-height: 3vmin;
    padding: 0.2vmin 1vmin;
    border-radius: 1vmin;
    border: 0.5vmin solid white;
}

.player-display > div {
    flex: 1;
}

.seat-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.4);
    display: block;
}
.seat-button {
    position: absolute;
}
.seat-button-0 {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.seat-button-1 {
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
}
.seat-button-2 {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.seat-button-3 {
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
}
/* https://fontlibrary.org/en/font/segment7 */
@font-face {
    font-family: 'Segment7Standard';
        src: url('../img/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.dark-select {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #fff !important;
}
.dark-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

/* Override system setting */
.collapsing {
	transition:height 0.2s ease !important;
}
