#full {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

#selection {
    position: absolute;
    z-index: 1;
    border: 1px solid rgba(160, 85, 0, 0.8);
    background-color: rgba(160, 85, 0, 0.2);
    pointer-events: none;
    visibility: hidden;
}

.cursor {
    position: absolute;
    background: url(../img/hand.svg);
    background-size: 100%;
    width: 50px;
    height: 35px;
    z-index: 2;
    /* border: 1px solid red; */

    margin-left: -20px;
    margin-top: -5px;
    transform-origin: 20px 5px;
    pointer-events: none;
    opacity: 0.6;

    visibility: hidden;
}

.cursor.rotate-1 { transform: rotate(-90deg); }
.cursor.rotate-2 { transform: rotate(-180deg); }
.cursor.rotate-3 { transform: rotate(-270deg); }

/*
.cursor          { visibility: visible; top: 50%; left: 20%; }
.cursor.rotate-1 { visibility: visible; top: 50%; left: 40%; }
.cursor.rotate-2 { visibility: visible; top: 80%; left: 20%; }
.cursor.rotate-3 { visibility: visible; top: 80%; left: 40%; }
*/
@font-face {
    font-family: 'Koruri';
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.eot?#iefix') format('embedded-opentype');
    src: url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff') format('woff'),
         url('//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.ttf') format('truetype');

    /*  for fuck'n chrome  */
    src: url(//cdn.plusminus.io/font/webkoruri/20140628/WebKoruri.woff) format('woff');
}

.mark {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 10px;
    height: 10px;
    background: white;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(30,30,30, 0.6);
    user-select: none;
}

#sidebar-body {
    min-width: 220px;
}

#toggle-sidebar {
    cursor: pointer;
}

#toggle-sidebar:hover {
    color: grey !important;
}

.dropdown-menu {
    background: rgba(30,30,30, 0.8) !important;
}

#server:not(.connected) .server-connected { display: none; }
#server.connected .server-disconnected { display: none; }

#center { display: none; }
#name-plate-0 { display: none; }
#name-plate-1 { display: none; }
#name-plate-2 { display: none; }
#name-plate-3 { display: none; }

#deal { position: relative; }
.btn-progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%;
    background: #fff2ca;
    transition: width 600ms;
}
.btn-progress-text {
    position: relative;
}

#spectator-ui {
    font-family: 'Koruri';
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 3vmin 4vmin;
}

.player-display {
    display: flex;
    text-align: right;
    padding: 0 7vmin;
    align-items: flex-end;
}

.player-display > div:not(:first-child) {
    margin-left: 2vmin;
}

.point-display {
    position: relative;
    font-size: 3vmin;
    padding: 0vmin 1.5vmin;
}

.point-display .actions {
    display: flex;
    align-items: flex-end;
    position: absolute;
    z-index: 0;
    bottom: 1vmin;
}

.point-display .action:first-child {
    color: black;
    border-radius: 2vmin;
    width: 10vmin;
    height: 10vmin;
    text-align: center;
    line-height: 10vmin;
    font-size: 5vmin;
}

.player-display .riichi .action:first-child {
    width: 9vmin;
    height: 9vmin;
    line-height: 9vmin;
    margin: 0.5vmin 0vmin;
    background-color: white;
    background-clip: padding-box;
}

.player-display .riichi .action:first-child:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: -0.5vmin;
    border-radius: inherit;
    background: linear-gradient(-45deg, #cbb364 0%, #cbb364 76%, #c81b20 76%, #c81b20 100%);
}

.point-display .action:not(:first-child) {
    margin-left: 1vmin;
}

.point-display .action {
    position: relative;
    color: black;
    background-color: white;
    border-radius: 1vmin;
    line-height: 5vmin;
    text-align: center;
    width: 5vmin;
    height: 5vmin;
    font-size: 2.5vmin;
}

.point-display > .points {
    flex: 1;
}

.player-display .dealer-indicator {
    padding-top: 1vmin;
}

.player-display .dealer .dealer-indicator {
    padding-top: 0.5vmin;
    border-bottom: 0.5vmin solid #be2011;
}

.name-display {
    font-size: 2.5vmin;
    padding-right: 1vmin;
}

.name-display.gain, .name-display.loss{
    font-size: 3vmin;
    padding-right: 1.5vmin;
    color: #33d880;
}

.name-display.loss {
    color: #a6101f;
}

#riichi-notification {
    align-self: center;
    display: flex;
    font-size: 5vmin;
}

#riichi-notification .player-name {
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
    padding-left: 5vmin;
    background-color: #c81b20;
}

#riichi-notification .riichi {
    border-top-right-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
    padding: 0vmin 5vmin;
    background: linear-gradient(-85deg, #cbb364 0%, #cbb364 87%, #c81b20 87%, #c81b20 100%);
}

[data-seat="0"] > .point-display {
    background-image: linear-gradient(to right, #e98e1a, #e98e1a, #e98e1a, #261b18);
}

[data-seat="0"] .action:first-child {
    background: linear-gradient(-45deg, #c26328, #c26328 20%, white 20%, white 80%, #c26328 80%, #c26328 100%);
}

[data-seat="1"] > .point-display {
    background-image: linear-gradient(to right, #b7a581, #b7a581, #b7a581, #1f1f1f);
}

[data-seat="1"] .action:first-child {
    background: linear-gradient(-45deg, #695737, #695737 20%, white 20%, white 80%, #695737 80%, #695737 100%);
}

[data-seat="2"] > .point-display {
    background-image: linear-gradient(to right, #da89a0, #da89a0, #da89a0, #0d050c);
}

[data-seat="2"] .action:first-child {
    background: linear-gradient(-45deg, #ffcfe2, #ffcfe2 20%, white 20%, white 80%, #ffcfe2 80%, #ffcfe2 100%);
}

[data-seat="3"] > .point-display {
    background-image: linear-gradient(to right, #40a1ca, #40a1ca, #40a1ca, #1a1c1f);
}

[data-seat="3"] .action:first-child {
    background: linear-gradient(-45deg, #2995d4, #2995d4 20%, white 20%, white 80%, #2995d4 80%, #2995d4 100%);
}

#spectator-ui > .header {
    display: flex;
    align-items: center;
    padding-right: 2.5vmin;
}

.header > .view-change-action {
    border-radius: 5px;
    background-color:rgba(200, 200, 200, 0.2);
    margin-left: 0.75vmin;
    font-size: 2vmin;
    padding: 0.75vmin;
}

.match-status-display {
    display: flex;
    align-items: stretch;
    padding: 1vmin;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2vmin;
}

.stick-display {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2vmin;
    margin-right: 1vmin;
}

.stick-display > * {
    display: flex;
    align-items: center;
    line-height: 1.5vmin;
    font-size: 1.5vmin;
}

.stick-display .image {
    position: relative;
    width: 6vmin;
    height: 1vmin;
    border-radius: 0.2vmin;
    margin-right: 0.5vmin;
}

.stick-display .riichi .image {
    background-color: #006ea7;
}

.stick-display .image:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/img/sticks.svg");
    background-size: 100% 900%;
}

.stick-display .riichi .image:before {
    background-position-y: 37%;
}

.stick-display .honba .image {
    background-color: white;
}

.match-status-display .dora {
    background-color: white;
    position: relative;
    width: 3.2vmin;
    height: 4vmin;
    border-radius: 0.25vmin;
}

.match-status-display .dora:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/img/tiles.svg");
    background-size: 1000% 800%;
}

.round-display {
    font-size: 3vmin;
    line-height: 3vmin;
    padding: 0.2vmin 1vmin;
    border-radius: 1vmin;
    border: 0.5vmin solid white;
}

.player-display > div {
    flex: 1;
}

.seat-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.4);
    display: block;
}
.seat-button {
    position: absolute;
}
.seat-button-0 {
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.seat-button-1 {
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
}
.seat-button-2 {
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}
.seat-button-3 {
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
}
/* https://fontlibrary.org/en/font/segment7 */
@font-face {
    font-family: 'Segment7Standard';
        src: url('../img/Segment7Standard.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

.dark-select {
    background-color: #343a40 !important;
    border-color: #343a40 !important;
    color: #fff !important;
}
.dark-select:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

/* Override system setting */
.collapsing {
	transition:height 0.2s ease !important;
}
